<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, March 12</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 - 2:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/" target="_blank">Data Organization in Spreadsheets for Social Scientists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:45 - 4:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/" target="_blank"> OpenRefine for Social Science Data</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Monday, March 15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am - 12:30 pm</td>        <!-- time    -->
        <td>Optional drop-in Q&A about workshop topics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, March 19</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 - 4:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/" target="_blank">R for Social Scientists, part 1</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Monday, March 22</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am - 12:30 pm</td>        <!-- time    -->
        <td>Optional drop-in Q&A about workshop topics</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 5 and 6 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, March 26</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/" target="_blank">R for Social Scientists, part 2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Monday, March 29</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am - 12:30 pm</td>        <!-- time    -->
        <td>Optional drop-in Q&A about workshop topics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
